body {
    background-color: rgb(19 30 49);
    margin: 0px;
}

.banner {
    position: relative;
}

.banner img {
    height: 500px;
    width: 100%;
}

.banner h1 {
    color: rgb(176 173 179);
    font-family: "Mr Dafoe", cursive;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    text-shadow: 3px 3px rgb(127 123 130);
}

.banner .welcome {
    position: absolute;
    left: 25%;
    top: 5%;
}

.banner .to {
    position: absolute;
    left: 45%;
    top: 25%;
}

.banner .relaxation {
    position: absolute;
    left: 48%;
    top: 45%;
}