:root {
    --clr-cream: #ede9e6;
    --clr-gray: #c1cfcf;
    --clr-blue: #aabac7;
    --clr-lt-purple: #73648A;
    --clr-dk-purple: #453750;
}

body {
    background-color: var(--clr-cream);
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}