.banner {
    position: relative;
}

.banner img {
    height: 525px;
    width: 100%;
}

.banner h1 {
    color: rgb(176 173 179);
    font-family: "Mr Dafoe", cursive;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    text-shadow: 3px 3px rgb(127 123 130);
}

.banner .welcome {
    position: absolute;
    left: 25%;
    top: 5%;
    animation: fadeInOut 3s ease-in infinite;
}

.banner .to {
    position: absolute;
    left: 45%;
    top: 25%;
    animation: fadeInOut 3s ease-in infinite;
}

.banner .relaxation {
    position: absolute;
    left: 48%;
    top: 45%;
    animation: fadeInOut 3s ease-in infinite;
}

@keyframes headerFadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}