.banner {
    position: relative;
}

.banner img {
    height: 300px;
    width: 100%;
}

.logo {
    position: absolute;
    top: 3px;
    left: 0;
}

.logo img {
    height: 50px;
    width: 50px;
}

.logo p {
    color: white;
    display: inline-block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.banner h1 {
    color: rgb(176 173 179);
    font-family: "Mr Dafoe", cursive;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    text-shadow: 3px 3px rgb(127 123 130);
}

.banner .welcome {
    position: absolute;
    left: 25%;
    top: 5%;
    animation: headerFadeIn 1s ease-in;
}

.banner .to {
    position: absolute;
    left: 45%;
    top: 25%;
    animation: headerFadeIn 2s ease-in;
}

.banner .relaxation {
    position: absolute;
    left: 48%;
    top: 45%;
    animation: headerFadeIn 3s ease-in;
}

@keyframes headerFadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}