.body-treatments {
    text-align: center;
    color: white;
    border: var(--clr-dk-purple);
    border-style: solid none;
    margin: 20px;
}

.body-treatment-service {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.body-treatment-service img {
    height: 200px;
    border-radius: 8px;
    margin-right: 40px;
}