.body-treatments {
    text-align: center;
    color: white;
    border: var(--clr-dk-purple);
    border-style: solid none;
    margin: 20px 20px 0px 20px;
}

.body-treatments h1 {
    color: var(--clr-dk-purple);
}

.body-treatment-service {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    align-items: center;
}

.body-treatment-service img {
    height: 200px;
    border-radius: 8px;
    margin-right: 40px;
}

.body-treatment-service h2 {
    color: var(--clr-dk-purple);
}

.body-treatment-service p {
    color: var(--clr-dk-purple);
    font-size: 20px;
    max-width: 350px;
}

@media (max-width: 750px) {
    .body-treatment-service {
        flex-direction: column;
    }
}