.book-now {
    border: var(--clr-dk-purple);
    border-style: none none solid none;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.calendar {
    width: 500px;
    text-align: center;
}

.appointment {
    display: flex;
    align-items: center;
    gap: 10px;
}

.appointment button {
    height: 25px;
    width: 100px;
    border-radius: 5px;
    background-color: var(--clr-dk-purple);
    color: white;
}