.appointment-section {
    border: var(--clr-dk-purple);
    border-style: none none solid none;
    height: 500px;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-now {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.calendar {
    width: 500px;
    text-align: center;
}

.calendar > * {
    margin: 0px auto;
}

.appointment-info {
    text-align: center;
    padding: 0px 50px;
}

.appointment {
    display: flex;
    align-items: center;
    gap: 10px;
}

.appointment button {
    height: 25px;
    width: 100px;
    border-radius: 5px;
    background-color: var(--clr-dk-purple);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s linear;
}

.appointment button:hover {
    background-color: white;
    color: var(--clr-dk-purple);
}

.appointment > .active {
    background-color: white;
    color: var(--clr-dk-purple);
    border: solid 2px var(--clr-dk-purple);
}

.user-info {
    padding: 0px 50px;
}

.user-entry {
    margin-bottom: 10px;
}

.user-info form label {
    display: inline-block;
    width: 60px;
}

.user-info input {
    border-radius: 5px;
    padding: 5px;
    width: 250px;
}

.appt-details {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.appt-details h4 {
    margin-bottom: 3px;
}

.appt-details p {
    margin: 3px 0px; 
}

.appt-details label {
    margin-top: 10px;
    text-align: left;
}

.appt-details select {
    font-size: 18px;
    width: 300px;
}

.book-now-btn {
    background-color: var(--clr-dk-purple);
    color: white;
    border-radius: 5px;
    transition: all 0.3s linear;
    cursor: pointer;
    font-size: 18px;
    padding: 7px 9px;
    margin-top: 30px;
}

.book-now-btn:hover {
    background-color: white;
    color: var(--clr-dk-purple);
}

.submitted {
    display: none;
}

.submitted-info {
    text-align: center;
    font-size: 20px;
}