.footer {
    height: 150px;
    text-align: center;
    padding-bottom: 20px;
}

.location {
    font-size: 18px;
    line-height: 10px;
}

.extra-info {
    line-height: 10px;
    margin-top: 30px;
}

@media (max-width: 800px) {
    .extra-info p {
        max-width: 300px;
        margin: 0px auto;
        line-height: 20px;
    }
}