.massage h1 {
    color: white;
    text-align: center;
}

.massage-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-items: center;
}

.massage-service {
    border: thin black solid;
    border-radius: 8px;
    color: white;
    margin: 20px;
    width: 400px;
}