.nails {
    text-align: center;
    color: var(--clr-dk-purple);
}

.nail-treatments {
    display: flex;
    justify-content: center;
}

.nail-treatment {
    border: black solid thin;
    border-radius: 8px;
    margin: 10px 20px;
    width: 300px;
    padding: 10px 20px;
    background-color: var(--clr-lt-purple);
}

.nail-treatment h2 {
    color: white;
}

.nail-treatment p {
    font-size: 20px;
    color: white;
}

@media (max-width: 1000px) {
    .nail-treatments {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media (max-width: 760px) {
    .nail-treatments {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .nail-treatment {
        width: 250px;
    }
}