.service-nav h1 {
    color: white;
    text-align: center;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.service {
    border: thin black solid;
    border-radius: 8px;
    height: 300px;
    margin: 10px;
}

.service button {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 50px;
}

.service button:hover {
    opacity: 0.9;
}

@media (max-width: 1300px) {
    .services {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .services {
        grid-template-columns: 1fr;
    }
}